:root {

  --THEME_COLOR_MODULE_ONE_STRONG: #00629b;
  --THEME_COLOR_MODULE_ONE_LIGHT: #6adfff;
  --THEME_COLOR_MODULE_ONE_LIGHT_BG: #e1f8ff;
  --THEME_COLOR_MODULE_ONE_SUPER_LIGHT: #e02028;
  --THEME_COLOR_MODULE_ONE: #02BDF2;
  --THEME_FONT_COLOR: #1a1a1a;

  /* AMPARO */
  --FF_ONE: #c64df6;
  
  --FF_TWO: #facc6b;
  --FF_THREE: #6960e5;
  --FF_FONT_H: #6960e5; 

  --FF_GERAL_TEXTOS: #6960e5;
  --FF_GERAL_CORCHAVE: #FFEE00; 
  --FF_GERAL_GRAFISMO_1: #FFF566;
  --FF_GERAL_GRAFISMO_2: #FFF899;
  --FF_GERAL_MARCADAGUA: #FFFCCC;   

  --FF_FILHOS_TEXTOS: #0092B4;
  --FF_FILHOS_CORCHAVE: #36B2D7;
  --FF_FILHOS_GRAFISMO_1: #73C9E3;
  --FF_FILHOS_GRAFISMO_2: #AFE0EF;
  --FF_FILHOS_MARCADAGUA: #CDECF5;

  --FF_PAIS_TEXTOS: #BC1616;
  --FF_PAIS_CORCHAVE: #E30A13;
  --FF_PAIS_GRAFISMO_1: #EE6C71;
  --FF_PAIS_GRAFISMO_2: #F49DA4;
  --FF_PAIS_MARCADAGUA: #F9CED0;

  --FF_ATIVIDADES_TEXTOS: #218B61;
  --FF_ATIVIDADES_CORCHAVE: #39A475;
  --FF_ATIVIDADES_GRAFISMO_1: #88C8AB;
  --FF_ATIVIDADES_GRAFISMO_2: #B0DBC8;
  --FF_ATIVIDADES_MARCADAGUA: #D7EDE3;

  }
  
/* exercicios
  linha verde cor chave 
  
  */