:root {
  --THEME_FONT_COLOR: black;
  --THEME_FONT_COLOR_ALTERNATIVE: #bc1d24;
  --THEME_FONT_COLOR_DARK: #bc1d24;
  --THEME_COLOR_TITLE_DARK: #bc1d24;
  --THEME_COLOR_PRIMARY_LIGHT: #bc1d24;
  --THEME_COLOR_PRIMARY_DARK: #bc1d24;
  --DISABLED_COLOR: #555555;
}
