:root {

  /* AMPARO */
  --FF_ONE:         #f3ecaa;  
  --FF_TWO:         #bbbe33;
  --FF_THREE:       #cb4f4c;
  --FF_FOUR:        #f3f4d7;
  --FF_FIVE:        #f1f2f2; 
  --FF_SIX:        #f9dcdf; 
  --FF_FONT_H:      #fff; 
  --COLOR_BG_GRAY:  #efeffb;
  --COLOR_BG_GRAY-2:  #e4e4e7;
  --FF_FOUR_60_PERCENT:        #ffffff60;


  --COLOR-MODULE-2-95: #ffffff95;

  --COLOR-FONT: #222222;
  
  }
  
