:root {

  /* AMPARO */
  --FF_ONE:         #cb4f4c;  
  --FF_TWO:         #a0c33a;
  --FF_THREE:       #e02028;
  --FF_FOUR:        #fa575c; 
  --FF_FONT_H:      #e02028; 
  --COLOR_BG_GRAY:  #efeffb;
  --COLOR_BG_GRAY-2:  #e4e4e7;
  --FF_FOUR_60_PERCENT:        #fa575c99;
  }
  
