:root {

  /* AMPARO */
  --FF_ONE:         #665fe1;  
  --FF_TWO:         #ad4ef1;
  --FF_THREE:       #e239ca;
  --FF_FOUR:        #ea2e88; 
  --FF_FONT_H:      #ff1a9d; 
  --COLOR_BG_GRAY:  #efeffb;
  --COLOR_BG_GRAY-2:  #e4e4e7;
  --FF_FOUR_60_PERCENT:        #ea2e8899;
  }
  
